#mainMenu a[href="/"] {background: url('../../images/icons/Menu-Home.png') no-repeat 10px 10px;}
#mainMenu a[href="/revistas"] {background: url('../../images/icons/Menu-Magazines.png') no-repeat 10px 10px;}
#mainMenu a[href="/autores"] {background: url('../../images/icons/Menu-Autors.png') no-repeat 10px 10px;}
#mainMenu a[href="/la-revista"] {background: url('../../images/icons/Menu-Magazine.png') no-repeat 10px 10px;}
