html {
    font-family: Calibri, Cambria, Verdana;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: #363636;
    margin: 0;
    padding: 0;
}

a img {
    border: none;
}

h1 {
    margin: 10px 0;
    font-size: 40px;
    font-weight: 200;
    font-family: 'Segoe UI';
    color: #303030;
}

h2 {
    margin: 8px 0;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Segoe UI';
    color: #303030;
}

h3 {
    margin: 5px 0;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI';
    color: #303030;
}

h4 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Segoe UI';
    color: #303030;
}

#mainMenu a[href="/"] {background: url('../../images/icons/Menu-Home.png') no-repeat 10px 10px;}
#mainMenu a[href="/revistas/"] {background: url('../../images/icons/Menu-Magazines.png') no-repeat 10px 10px;}
#mainMenu a[href="/autores/"] {background: url('../../images/icons/Menu-Autors.png') no-repeat 10px 10px;}
#mainMenu a[href="/la-revista/"] {background: url('../../images/icons/Menu-Magazine.png') no-repeat 10px 10px;}
