html {
  font-family: Calibri, Cambria, Verdana;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  color: #363636;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 200;
  font-family: 'Segoe UI';
  color: #303030;
}

h2 {
  margin: 8px 0;
  font-size: 32px;
  font-weight: 200;
  font-family: 'Segoe UI';
  color: #303030;
}

h3 {
  margin: 5px 0;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Segoe UI';
  color: #303030;
}

h4 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 200;
  font-family: 'Segoe UI';
  color: #303030;
}


/*********************************************************************************************************************************
***** HEADER
*********************************************************************************************************************************/
#divHeader {
  height: 200px;
  background: #303030;
  padding: 0 20px;
  box-sizing: border-box;
}

#divHeader #divLogo {
  float: left;
  background-image: url('../images/layout/Logo380x109.png');
  background-repeat: no-repeat;
  background-position: left center;
  width: 400px;
  height: 100%;
}

#divHeader #divHeaderContent {
  margin-left: 400px;
  min-width: 540px;
  text-align: right;
}

  /*********************************************************************************************************************************
  ***** MENU
  *********************************************************************************************************************************/
#divHeader nav {
  display: inline-block;
  margin: 20px 0;
  height: 80px;
  vertical-align: bottom;
}

#divHeader nav ul {
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none;
  text-align: right;
}

#divHeader nav#MainMenu ul li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: top;
  width: 130px;
  background: #f8922c;
  font-size: 27px;
  font-family: 'Segoe UI';
  font-weight: 300;
  text-align: right;
}

#divHeader nav#MainMenu ul li a.nav-item-selected {
  background-color: #f90b39 !important;
}

#divHeader nav#MainMenu ul li a.nav-item-selected:hover {
  background-color: #f90b39 !important;
}

#divHeader nav#MainMenu ul li a {
  display: table-cell;
  margin: 0;
  padding: 5px 10px;
  width: 110px;
  height: 90px;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  vertical-align: bottom;
  text-align: right;
}

#divHeader nav#MainMenu ul li a[href="/"] {background: url('../images/icons/Menu-Home.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/revistas"] {background: url('../images/icons/Menu-Magazines.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/autores"] {background: url('../images/icons/Menu-Autors.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/editores"] {background: url('../images/icons/Menu-Editors.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/la-revista"] {background: url('../images/icons/Menu-Magazine.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/secciones"] {background: url('../images/icons/Menu-Mentoring.png') no-repeat 10px 10px;}
#divHeader nav#MainMenu ul li a[href="/guias"] {background: url('../images/icons/Menu-Guide.png') no-repeat 10px 10px;}

#divHeader nav#MainMenu ul li a span {
  vertical-align: baseline;
  text-align: right;
  overflow: hidden;
}

/*********************************************************************************************************************************
***** BODY
*********************************************************************************************************************************/
#divBody {
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Calibri;
  min-height: calc(100vh - 80px - 200px);
}

#divBody p, li {
  font-size: 21px;
}


  /*********************************************************************************************************************************
  ***** NUMBER
  *********************************************************************************************************************************/
#divBody #SectionNumber header h1 {
  margin-top: 10px;
}

#divBody #SectionNumber header h1 a {
  color: #303030;
  text-decoration: none;
}

#divBody #SectionNumber header h1 a:hover {
  color: #f90b39;
}

#divBody #SectionNumber header h1 img {
  color: #f90b39;
  vertical-align: text-bottom;
}

#divBody #divLastNumberImg {
  display: table-cell;
  padding-right: 20px;
  height: 502px;
  max-width: 382px;
}

#divBody #divLastNumberImg > img {
  height: 500px;
  vertical-align: middle;
  border: 1px solid #dedede !important;
  box-shadow: 0px 5px 10px #303030;
}

#divBody #divLastNumberInfo header .img-number-icon {
  margin-right: 12px;
}

#divBody #divLastNumberContent {
  display: table;
  margin-top: 20px;
  width: 100%;
}

#divBody #articleNumberContent {
  width: 100%;
  vertical-align: top;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: left;
  margin: 20px 0;
}

.divCompartiMOSSArticleListItem {
  margin-top:0 !important;
}

#divBody #SectionNumber #divEditorial {
  display: table-cell;
  vertical-align: top;
  margin: 20px 0;
  margin-top: 40px;
  padding-bottom: 10px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}

#divBody #SectionNumber #divEditorial p {
  margin: 10px 20px;
}

#divBody #SectionNumber #divIndex header h2, #divBody #SectionNumber #divEditorial header h2 {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 27px;
  color: #f90b39;
}


  /*********************************************************************************************************************************
  ***** ARTICLE
  *********************************************************************************************************************************/
  #divBody #SectionArticle {
    max-width: 700px;
    margin: auto;
  }

#divBody #SectionArticle header #divMagazineNumber {
  display: inline-block;
  position: absolute;
  float: inside;
  top: 180px;
  left: 0;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;

  background: url('../images/layout/Back-Magazine-Number.png') no-repeat left;
}

#divBody #SectionArticle header #divMagazineNumber a {
  display: block;
  padding: 6px 6px 6px 12px;
  color: #fff;
  text-decoration: none;
  font-size:  20px;
}

#divBody #SectionArticle header #divShare {
  margin-bottom: 20px;
}

#divBody #SectionArticle header #divShare > iframe,
#divBody #SectionArticle header #divShare > div {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

#divBody #SectionArticle #divArticleInfo {
  margin-bottom: 10px;
  line-height: 21px;
}

#divBody #SectionArticle #divArticleInfo #divArticleAuthor {
  color: #f90b39;
  text-decoration: none;
}

#divBody #SectionArticle #divArticleInfo #divArticleAuthor a:visited {
color: #f90b39;
  text-decoration: none;
}

#divBody #SectionArticle #divArticleInfo #divArticleDate {
  color: #808080;
  font-style: italic;
}

#divBody #articleSection {
  margin: auto;
  margin-bottom: 40px;
  max-width: 700px;
}

#divBody #articleSection a {
  text-decoration: none;
  color: #f8922c;
}

#divBody #articleSection a:hover {
  text-decoration: underline;
}

#divArticleTags {
  color: #fff;
}

#divArticleTags li {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  padding-left: 25px;
  background: #f8922c url('../images/icons/Tag.png') no-repeat 5px center;
  color: #fff;
}

#divBody #articleSection blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px .1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

#divBody #articleSection table {
  margin: 1em 0;
  border-collapse: collapse;
}

#divBody #articleSection th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
}

#divBody #articleSection th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
}

#divBody #articleSection td[colspan] {
  background-color: #eee;
  color: #000;
  font-weight: normal;
  font-style: italic;
  padding: 0;
  text-indent: 0;
}

  /*********************************************************************************************************************************
  ***** AUTHOR
  *********************************************************************************************************************************/
  #divBody #SectionAuthor header {
    margin-top: 20px;
  }

#divBody #SectionAuthor header h1 {
  color: #f90b39;
}

#divBody #SectionAuthor #divAuthorAside {
  float: left;
  width: 250px;
  margin-right: 20px;
}

#divBody #SectionAuthor #divAuthorAside img {
  width: 250px;
  height:  250px;
  box-shadow: 0px 5px 10px #303030;
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo {
  margin-top: 10px;
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo > article {
  position: relative;
  margin: 5px 0;
  height: 80px;
  width: 250px;
  background: #303030 no-repeat 15px center;
  color: #fff;
  text-align: right;
  vertical-align: bottom;
  overflow: hidden;
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo > article a {
  display: block;
  padding-top: 50px;
  padding-right: 10px;
  height: 30px;
  color: #fff;
  text-decoration: none;
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo > article .divSocialOverlay {
  position: absolute;
  top: 70px;
  width: 250px;
  z-index: 20;
  background-color: #f90b39;
  /*ROJO*/background-color: rgba(249, 11, 57, 0.8);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo > article .divSocialOverlay a {
  height: 50px;
  padding-top: 20px;
  font-size: 25px;
}


#divBody #SectionAuthor #divAuthorAside #divSocialInfo #divTwitter {
  background-image: url('../images/icons/Twitter-Bird-48.png');
}

#divBody #SectionAuthor #divAuthorAside #divSocialInfo #divBlog {
  background-image: url('../images/icons/Blog-48.png');
}

#divBody > article > header, 
#divBody #divAuthorData {
  margin-left: 270px;
}

#divBody > article > header
{
  padding-bottom: 15px;
}

#divBody > article > header #divJobTitle
{
  font-style: italic;
  font-weight: 700;
}

#divBody #divAuthorData #divBio
{
  padding-bottom: 20px;
}

#divBody .divCompartiMOSSArticleListItem {
  display: block;
}

#divBody #divArticles {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}

#divBody #divArticles .ms-webpartzone-cell {
  margin-bottom: 0px;
}

#divBody #divArticles ul {
  list-style: none;
  width: 100%;
  margin: 5px auto;
  padding: 0 10px;
}

#divBody #divArticles ul:not(.dfwp-list) li {
  background: url('../images/icons/ListItemBullet.png') no-repeat 0px 0px;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 13px;
}

#divBody #divArticles ul li .cbs-Detail {
  margin: 0;
}

#divArticles li {
display:block;
padding-top:0;
}

#divArticles h2 {
color: #f90b39;	
}


/*********************************************************************************************************************************
***** FOOTER
*********************************************************************************************************************************/
#divFooter
{
  padding: 10px 0px;
  border-top: 1px solid #676767;
  color:  #676767;
  font-weight: 200;
  width: 100%;
  background-color: #dfdfdf;
  background-color: rgba(223, 223, 223, 0.85);
  text-align: center;
  height:70px;
  box-sizing: border-box;
}

#divFooter #FooterAds {
  margin-bottom: 20px;
  text-align: center;
}

#divFooter #FooterAds a {
  display: inline-block;
  margin: 5px 20px;
  vertical-align: top;
  max-height: 48px;
}

#divFooter #FooterAds img {
  max-height: 48px;
}

#divFooter #FooterPowered {
  vertical-align: top;
  display: inline-block;    
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  font-size: 1.3em;
  float:right;
}

#divFooter #imgSPPowered
{
  height: 40px;
  vertical-align: middle;
}

#divFooter #spanGSCPowered a
{
  color: #ff6a00;
  text-decoration: none;
}

#divFooter #spanGSCPowered a:hover
{
  text-decoration: none;
  color: #f90b39;
}

#divFooter #FooterSocial img {
  height: 32px;
  margin: 6px;
}

#divFooter #FooterSocial {
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 1.3em;
}

#divFooter #FooterSocial a:hover { 
  text-decoration:none;
}

/*********************************************************************************************************************************
***** HOME
*********************************************************************************************************************************/
#articleHome > header 
{
  margin-bottom: 30px;
}

#articleHome header h1,
#articleHome header h4
{
  margin: 0;
  color: #fff;
}

#divHomeImage, #divHomePartners
{
  /*display: inline-block;*/
  vertical-align: top;
}

#divHomeImage
{
  float: left;
  position: relative;
  width: 380px;
  height: 500px;
  text-align: center;
  box-shadow: 0px 5px 10px #303030;
}

#divHomeImage #divOverlay
{
  position: absolute;
  top: 400px;
  height: 100px;
  width: 380px;
  background-color: #f90b39;
  /*ROJO*/background-color: rgba(249, 11, 57, 0.8);
  color: #fff;
}

#divHomeImage #divOverlay h1 {
  color: #fff;
}

#divHomePartners {
  margin-left: 390px;
}

#divHomeImage img
{
  width: 380px;
}

#divHomePartners
{
  padding-left: 20px;
}

#divHomePartners .dfwp-list
{
  margin: 0;
  padding: 0;
}


#divHomePartners .dfwp-column 
{
  margin: 0;
}

#divHomePartners .dfwp-list > li
{
  display: inline-block;
  width: 250px;
  height: 150px;
  margin: 0 5px;
  margin-bottom: 10px;
  padding: 0;
  vertical-align: top;
}


#divHomePartners .dfwp-list li .item
{
  margin: 0;
  padding: 0;
}

/*********************************************************************************************************************************
***** HOME
*********************************************************************************************************************************/
#divPartners ul
{
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
}

#divPartners ul li
{
  display: inline-block;
  width: 250px;
  height: 150px;
  margin: 6px;
  padding: 0;
  vertical-align: top;
}


#divPartners ul li .item
{
  margin: 0;
  padding: 0;
}

/*********************************************************************************************************************************
***** GENERAL
*********************************************************************************************************************************/
.article-body 
{
  padding-top: 0 !important;
}

.article-body > header > h1
{
  margin-top: 0;
  padding-top: 0;
}

.divClear
{
  clear: both;
}

/*********************************************************************************************************************************
***** EDIT MODE
*********************************************************************************************************************************/
input.ms-long
{
  width: 900px;
}

/*********************************************************************************************************************************
***** ANIMATIONS
*********************************************************************************************************************************/
#divLogo, #divHeader, #divHeader nav, nav#MainMenu ul li, #divSearch
{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*********************************************************************************************************************************
**********************************************************************************************************************************
***** MEDIA QUERIES
**********************************************************************************************************************************
*********************************************************************************************************************************/

  /*********************************************************************************************************************************
  ***** 640 - 1024
  *********************************************************************************************************************************/
@media screen and (min-width: 640px) and (max-width: 1024px), screen and (max-device-width: 640px) and (max-device-width: 1024px) {

  #divHeader {
      background: #303030;
      padding: 0 5px;
      height: 155px;
  }

  #divHeader #divLogo {
      background-position: left center; 
      background-image: url('../images/layout/Logo210x60.png');
      height: 75px;
      margin-top: 40px;
      width: 220px;
  }

  #divHeader #divHeaderContent {
      margin-left: 220px;
      min-width: 320px;
  }

  #divHeader nav#MainMenu ul li {
      width: 80px;
      font-size: 19px;
  }

  #divHeader nav#MainMenu ul li a {
      height: 60px;
  }

  #divHeader nav#MainMenu ul li a[href="/"] {background: url('../images/icons/Menu-Home-32.png') no-repeat 5px 5px;}
  #divHeader nav#MainMenu ul li a[href="/revistas"] {background: url('../images/icons/Menu-Magazines-32.png') no-repeat 5px 5px;}
  #divHeader nav#MainMenu ul li a[href="/autores"] {background: url('../images/icons/Menu-Autors-32.png') no-repeat 5px 5px;}
  #divHeader nav#MainMenu ul li a[href="/editores"] {background: url('../images/icons/Menu-Editors-32.png') no-repeat 5px 5px;}
  #divHeader nav#MainMenu ul li a[href="/la-revista"] {background: url('../images/icons/Menu-Magazine-32.png') no-repeat 5px 5px;}
  #divHeader nav#MainMenu ul li a[href="/mentoring"] {background: url('../images/icons/Menu-Mentoring-32.png') no-repeat 5px 5px;}    
  #divHeader nav#MainMenu ul li a[href="/guias"] {background: url('../images/icons/Menu-Guide-32.png') no-repeat 5px 5px;}    

  #divHeader #divHeaderContent #divSearch input 
  {
      -webkit-transition: width 0.5s ease-in-out;
      -moz-transition: width 0.5s ease-in-out;
      -o-transition: width 0.5s ease-in-out;
      transition: width 0.5s ease-in-out;
      width: 290px;
      font-size: 13px;
  }

  #divBody #SectionArticle header #divMagazineNumber {
      top: 139px;
  }

  #divBody #SectionArticle header #divMagazineNumber a {
      font-size: 15px;
  }

}

  /*********************************************************************************************************************************
  ***** x < 640 
  *********************************************************************************************************************************/
@media screen and (max-width: 640px), screen and (max-device-width: 640px) {

#divLogo, #divHeader, #divHeader nav, #divHeader nav ul, #divHeader nav#MainMenu ul li, #divHeader #divHeaderContent #divSearch
{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

  h1 {
     font-size: 33px; 
  }


  #divHeader {
      background: #303030;
      padding: 0 5px;
      height: 110px;
      padding-bottom: 20px;
  }

  #divHeader #divLogo {
      float: none;
      background-image: url('../images/layout/Logo210x60.png');
      background-position: left center; 
      height: 80px;
  }

  #divHeader #divHeaderContent {
      margin-left: 0;
      min-width: 320px;
      text-align: left;
  }

  #divHeader #divHeaderContent #divSearch {
      display: none;
  }
  
  #divHeader nav {
      display: block;
      margin: auto;
      height: 40px;
  }

  #divHeader nav ul {
      margin: auto;
      height: 40px;
      /*text-align: right;*/
  }

  #divHeader nav#MainMenu ul li {
      width: 75px;
      font-size: 15px;
      /*text-align: right;*/
  }

  #divHeader nav#MainMenu ul li a {
      display: block;
      height: 30px;
      line-height: 30px;
      width: auto;
      text-align: center;
      background-image: none !important;
  }

  #divBody #SectionArticle header #divMagazineNumber {
      top: auto;
      position: inherit;
      left: auto;
      /*float: right;*/
  }

  #divBody #SectionArticle header #divMagazineNumber a {
      font-size: 15px;
  }
}

/**************************************************************************************************** 
  MARKUP STYLE
***********************************************************************************************/
.articleCode {
  background: rgba(243, 243, 243, 0.85) !important;
}

pre.ms-rteElement-preHTML
{
  -ms-name:"Code - HTML";
  display:  block;
  background: rgba(243, 243, 243, 0.85) !important;
  margin: 0;
  padding: 2px 0;
  font-size:  11px;
}

pre.ms-rteElement-preVB
{
  -ms-name:"Code - VB";
  display:  block;
  background: rgba(243, 243, 243, 0.85) !important;
  margin: 0;
  padding: 2px 0;
  font-size:  11px;
}

pre.ms-rteElement-preCSharp
{
  -ms-name:"Code - CSharp";
  display:  block;
  background: rgba(243, 243, 243, 0.85) !important;
  margin: 0;
  padding: 2px 0;
  font-size:  11px;
}

pre.ms-rteElement-preJS
{
  -ms-name:"Code - JavaScript";
  display:  block;
  background: rgba(243, 243, 243, 0.85) !important;
  margin: 0;
  padding: 2px 0;
  font-size:  11px;
}

pre.ms-rteElement-preCSS
{
  -ms-name:"Code - CSS";
  display:  block;
  background: rgba(243, 243, 243, 0.85) !important;
  margin: 0;
  padding: 2px 0;
  font-size:  11px;
}

/*********************************************************************************************************************************
***** CompartiMOSS - MagazineNumber
*********************************************************************************************************************************/
.article-content > ul 
{
  display: table;
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
}

.article-content > ul > li {
  display: inline;
}

.divCompartiMOSSMagazineNumber
{
    position: relative;
    display: inline-block;
    width: 266px;
    height: 350px;
    overflow: hidden;
    margin: 5px;
}

.divCompartiMOSSMagazineNumber .divPicture
{
    z-index: 10;
    top: 0;
    left: 0;
}

.divCompartiMOSSMagazineNumber .divPicture a {
    display: block;
    height: 350px;
}

.divCompartiMOSSMagazineNumber .divPicture img {
    width: 266px;
    max-width: 266px;
    height: 350px;
    max-height: 350px;
}

.divCompartiMOSSMagazineNumber a {
    color: #fff;
    text-decoration: none;
}

.divCompartiMOSSMagazineNumber .divOverlay 
{
    position: absolute;
    z-index: 20;
    top: 300px;
    left: 0;
    height: 350px;
    width: 266px;
    /*IE8<=*/background-color: #f90b39;
    /*VIOLETA*//*background-color: rgba(146, 0, 145, 0.8);*/
    /*GRIS*//*background-color: rgba(48, 48, 48, 0.8);*/
    /*AZUL*//*background-color: rgba(0, 65, 145, 0.8);*/
    /*ROJO*/background-color: rgba(249, 11, 57, 0.85);
    color: #fff;
    font-size: 11px;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.divCompartiMOSSMagazineNumber .divOverlay a.linkOverlay
{
    display: block;
    height: 340px;
    padding: 5px 10px;
}

.divCompartiMOSSMagazineNumber .divOverlay a.linkOverlay ,
.divCompartiMOSSMagazineNumber .divOverlay a.linkOverlay H2 {
    color: #fff;
}

.divCompartiMOSSMagazineNumber .divOverlay a.linkOverlay H2 {
    font-weight: 400;
    font-size: 17px;
}

/*********************************************************************************************************************************
***** CompartiMOSS - Author
*********************************************************************************************************************************/
.author-body > ul 
{
  display: table;
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
}

.author-body > ul > li {
  display: inline;
}

.divCompartiMOSSAuthor
{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.divCompartiMOSSAuthor .divPicture
{
    /*position: absolute;*/
    z-index: 10;
    top: 0;
    left: 0;
}

.divCompartiMOSSAuthor .divPicture a {
    display: block;
    height: 250px;
}

.divCompartiMOSSAuthor .divPicture img {
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
}

.divCompartiMOSSAuthor a {
    color: #fff;
    text-decoration: none;
}

.divCompartiMOSSAuthor .divOverlay 
{
    position: absolute;
    z-index: 20;
    top: 205px;
    left: 0;
    height: 250px;
    width: 250px;
    /*IE8<=*/background-color: #f90b39;
    /*VIOLETA*//*background-color: rgba(146, 0, 145, 0.8);*/
    /*GRIS*//*background-color: rgba(48, 48, 48, 0.8);*/
    /*AZUL*//*background-color: rgba(0, 65, 145, 0.8);*/
    /*ROJO*/background-color: rgba(249, 11, 57, 0.85);
    color: #fff;
    font-size: 11px;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.divCompartiMOSSAuthor .divOverlay a.linkOverlay
{
    display: block;
    height: 240px;
    padding: 5px 10px;
}

.divCompartiMOSSAuthor .divOverlay a.linkOverlay ,
.divCompartiMOSSAuthor .divOverlay a.linkOverlay H2 {
    color: #fff;
}

.divCompartiMOSSAuthor .divOverlay a.linkOverlay H2 {
    font-weight: 400;
    font-size: 18px;
}

img[src*="#author"] {
  width:250px;
  height:250px;
  object-fit: cover;
  float: left;
  margin: 5px;
}

img[src*="#partner"] {
  width:250px;
  height:250px;
  object-fit: contain;
  float: left;
  margin: 5px;
}

/*********************************************************************************************************************************
***** CompartiMOSS - Partner
*********************************************************************************************************************************/
.divCompartiMOSSPartner
{
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    background: #303030;
}

.divCompartiMOSSPartner .divPicture
{
    /*position: absolute;*/
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 150px;
}

.divCompartiMOSSPartner .divPicture a {
    display: inline-block;
    height: 150px;
    width: 250px;
}

.divCompartiMOSSPartner .divPicture img {
    /*width: 200px;*/
    max-width: 230px;
    /*height: 120px;*/
    max-height: 130px;
    vertical-align: middle;
}

.divCompartiMOSSPartner a {
    color: #fff;
    text-decoration: none;
}

.divCompartiMOSSPartner .divOverlay 
{
    position: absolute;
    z-index: 20;
    top: 140px;
    left: 0;
    height: 150px;
    width: 250px;
    /*IE8<=*/background-color: #f90b39;
    /*VIOLETA*//*background-color: rgba(146, 0, 145, 0.8);*/
    /*GRIS*//*background-color: rgba(48, 48, 48, 0.8);*/
    /*AZUL*//*background-color: rgba(0, 65, 145, 0.8);*/
    /*ROJO*/background-color: rgba(249, 11, 57, 0.85);
    color: #fff;
    font-size: 11px;    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.divCompartiMOSSPartner .divOverlay a.linkOverlay
{
    display: block;
    height: 140px;
    padding: 5px 10px;
}

.divCompartiMOSSPartner .divOverlay a.linkOverlay ,
.divCompartiMOSSPartner .divOverlay a.linkOverlay H2 {
    color: #fff;
}

.divCompartiMOSSPartner .divOverlay a.linkOverlay H2 {
    font-weight: 400;
    font-size: 15px;
}

/*********************************************************************************************************************************
***** CompartiMOSS - DownloadPDf
*********************************************************************************************************************************/
.divDownloadLink
{
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 60px;
  overflow: hidden;
  background: #303030;
}


.divDownloadLink .divPicture,
.divDownloadLink .divText
{
    display: inline-block;
    vertical-align: top;
}

.divDownloadLink .divPicture
{
    z-index: 10;
    top: 0;
    left: 0;
    line-height: 60px;
    /*IE8<=*/background-color: #f90b39;
    /*ROJO*/background-color: rgba(249, 11, 57, 1);
}

.divDownloadLink .divPicture a {
    display: inline-block;
    padding: 6px;
    height: 48px;
    width: 48px;
}

.divDownloadLink .divPicture img {
    max-width: 48px;
    max-height: 48px;
}

.divDownloadLink a {
    color: #fff;
    text-decoration: none;
}

.divDownloadLink .divText
{
    padding: 6px;
    width: 78px;
    height: 48px;
    color: #fff;   
}

.divDownloadLink .divOverlay 
{
    position: absolute;
    z-index: 20;
    top: 55px;
    left: 60px;
    height: 55px;
    width: 90px;
    /*IE8<=*/background-color: #f90b39;
    /*VIOLETA*//*background-color: rgba(146, 0, 145, 0.8);*/
    /*GRIS*//*background-color: rgba(48, 48, 48, 0.8);*/
    /*AZUL*//*background-color: rgba(0, 65, 145, 0.8);*/
    /*ROJO*/background-color: rgba(249, 11, 57, 0.85);
    color: #fff;
    font-size: 11px;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.divDownloadLink .divOverlay a.linkOverlay
{
    display: block;
    height: 70px;
    padding: 5px 10px;
}

.divDownloadLink .divOverlay a.linkOverlay ,
.divDownloadLink .divOverlay a.linkOverlay H2 {
    color: #fff;
}

.divDownloadLink .divOverlay a.linkOverlay H2 {
    font-weight: 400;
    font-size: 15px;
}


/* DISQUS OVERWRITE */
#disqus_thread {
  padding: 20px;
  background-color: #f3f3f3;
}